@font-face {
	font-family: 'RoundedMplus1c'; 
	src: local('RoundedMplus1c'),
		url(../fonts/RoundedMplus1c-Regular.ttf); 
}
@font-face {
	font-family: 'RoundedMplus1c-Bould'; 
	src: local('RoundedMplus1c-Bold'),
		url(../fonts/RoundedMplus1c-Bold.ttf); 
}