terraform/
.helm/
backend.hcl
*.tf
*.tfvars
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
helm/
*.yaml
*.tpl
charts/
*.tgz
__pycache__/
app/tests/
*.pyc
*.pyo
*.pyd
.DS_Store
*.log
.env
*.env
*.pem
*.key
*secret*
.git
.dockerignore
Dockerfile
