<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="assets/style/main.css">
    <link rel="stylesheet" type="text/css" href="assets/style/media-query.css">
    <link rel="stylesheet" type="text/css" href="assets/style/reset.css">
    <title>Namester</title>
</head>
<body>
    <div class="wrapper">
        <h1 class="start__text">Namester</h1>
        <a href="{{ url_for('main') }}" class="start__button">START</a>
    </div>
</body>
</html>